<!DOCTYPE html>
<html lang="tw">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--讓畫面不要縮放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--讓js檔案可以載入https的函式庫-->
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <!--載入LIFF api-->
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script>
        function oAuth2() {
            var URL = 'https://notify-bot.line.me/oauth/authorize?';
            URL += 'response_type=code';
            URL += '&client_id=SUMVZ46FKbFjW6FBYnIEX0';
            URL += '&redirect_uri=https://e593cda5c426.ngrok.io/hookNotify?userid={{userId}}';
            URL += '&scope=notify';
            URL += '&state=NO_STATE';
            window.location.href = URL;
        }
    </script>
</head>
<body>
<button onclick="oAuth2();"> 連結到 LineNotify 按鈕</button>
</body>
</html>